{% extends "music_share/base.html" %}

{% block content %}
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">{{ song.title }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ song.artist }}</h6>
      <p class="card-text">Album: {{ song.album }}</p>
    </div>
    <audio controls>
      <source src="{{ song.audio_file.url }}" type="{{ song.audio_file.content_type }}">
      Your browser does not support the audio element.
    </audio>
    <div class="card-body">
      <a href="{{ song.audio_file.url }}" class="card-link">Download</a>
    </div>
  </div>
{% endblock %}
